.container{
    width: 900px;
    margin: 0 auto;
}

.centeredHeader{
    text-align: center;
}

#btnBox{
    width: 70%;
    margin: 0 auto;
}
.btnBack{
    border: 1px dashed black;
    padding: 10px;
    background-color: brown;
    color: white;
    display: inline-block;
}

.onBtn{
    width: 40px;
    margin: 0 auto;
    background-color: green;
}

.offBtn{
    width: 40px;
    margin: 0 auto;
    background-color: red;
}